<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | 404</title>
</head>
<body>

<div th:replace="header"></div>

<!-- 404 error section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>404</h2>
                    <span>Sorry! Page Not Found</span>
                    <p>Sorry this content has been moved Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Earum, amet perferendis, nemo facere excepturi quis.</p>
                    <a href="#"> Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / 404 error section -->

<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    <h3>Subscribe our newsletter </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                    <form action="" class="aa-subscribe-form">
                        <input type="email" name="" id="" placeholder="Enter your Email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Subscribe section -->

<div th:replace="footer"></div>

</body>
</html>
