<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Category</title>

    <link href="/adminsrc/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/adminsrc/css/fonts.googleapis.com.css" rel="stylesheet">
    <link href="/adminsrc/css/sb-admin-2.min.css" rel="stylesheet">
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
</head>
<body id="page-top">

    <div id="wrapper">
        <div th:replace="sidebar-admin"></div>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="header-admin"></div>

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div>
                                <h3>Categories</h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped border">
                                <thead>
                                    <tr>
                                        <th scope="col">Category</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="item: ${categories}">
                                        <tr>
                                            <td th:text="${item.getTenDanhMuc()}"></td>
                                            <td th:text="${item.getStatus()}"></td>
                                            <td th:text="${item.getSanphams().size()}"></td>
                                            <td>
                                                <button th:data-idDanhMuc="${item.getIdDanhMuc()}" class="btnUpdateCategory btn btn-primary">Update</button>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form action='' method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3 id="txtThemAndSua" style="text-align: center; margin-bottom: 50px;">Thêm danh mục</h3>
                                                    <label for="madm"><b>Mã danh mục:</b></label>
                                                    <input id="madm" name="madm" type="text" readonly class="form-control">
                                                    <br/>

                                                    <label for="tendm"><b>Tên danh mục:</b></label> <br/>
                                                    <input id="tendm" name="tendm" type="text" class="form-control" placeholder="Tên danh mục"> <br/>

                                                    <label for="metatitle"><b>Meta title:</b></label> <br/>
                                                    <input id="metatitle" name="metatitle" type="text" class="form-control" placeholder="Meta title"> <br/>

                                                    <label for="status"><b>Trạng thái:</b></label> <br/>
                                                    <div>
                                                        <input id="rdbEnable" name="status" type="radio" checked="checked" value="true">Enable
                                                        <br>
                                                        <input id="rdbDisable" name="status" type="radio" value="false">Disable
                                                        <br>
                                                    </div>
                                                    <br/>

                                                    <input id="btnThemDanhMuc" name="btnThemDanhMuc" type="submit" class="btn btn-success" value="Thêm danh mục">
                                                    <input id="btnSuaDanhMuc" name="btnSuaDanhMuc" type="submit" class="hidden btn btn-success" value="Cập nhật">
                                                    <a href="" id="btnCancel" class="hidden btn btn-success" style="float: right;">Thoát cập nhật</a>
                                                    <br/>
                                                    <div><span style="color: red; margin-top: 10px;" th:text="${msg}"></span></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="bottom-admin"></div>

</body>
</html>
