<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Cart Page</title>
</head>
<body>

<div th:replace="header"></div>

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img th:src="@{/img/slider/abstrakt-banners.jpg}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form th:action="@{/cart}" method="post">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="item: ${dsSanPham}">
                                        <tr>
                                            <td><a href="#"><img th:src="@{/img/product/} + ${item.getHinhAnh()}"
                                                                 alt="img"></a></td>
                                            <td><a class="aa-cart-title"
                                                   th:href="@{/product-detail/} + ${item.getIdSanPham()}"
                                                   th:text="${item.getTenSanPham()}"></a></td>
                                            <td><span th:text="${item.getGiaTien()}"></span></td>
                                            <td><input name="soluongsp" class="aa-cart-quantity" type="number"
                                                       th:value="${item.getSoLuong()}"></td>
                                            <td><span th:text="${item.getGiaTien() * item.getSoLuong()}"></span></td>
                                            <td><a th:data-idChiTiet-Gio="${item.getIdChiTietSanPham() }"
                                                   class="btnXoaSpTrongGio remove">
                                                <fa class="fa fa-close"></fa>
                                            </a></td>
                                        </tr>
                                    </th:block>
                                    <tr>
                                        <td colspan="6" class="aa-cart-view-bottom">
                                            <div class="aa-cart-coupon">
                                                <input class="aa-coupon-code" type="text" placeholder="Coupon">
                                                <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                                            </div>
                                            <input id="btnUpdateCart" name="btnUpdateCart" class="aa-cart-view-btn"
                                                   type="submit" value="Update Cart">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                <tr>
                                    <th>Subtotal</th>
                                    <td><span th:text="'$' + ${total}"></span></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td><span th:text="'$' + ${total}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <a th:href="@{/checkout}" name="btnCheckout" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->

<div th:replace="footer"></div>

</body>
</html>
