<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.min.js"></script>
    <style>
        .form-gap {
            padding-top: 70px;
        }
    </style>
</head>
<body>

    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Enter New Password To Change</h2>
                            <div class="panel-body">

                                <form th:action="@{/change-password}" id="register-form" role="form" autocomplete="off" class="form" method="post">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="tokenEmail" th:value="${tokenEmail}" style="display: none">
                                            <input name="tokenCode" th:value="${tokenCode}" style="display: none">
                                            <input id="newPassword" name="newPassword" placeholder="New password" class="form-control" type="password">
                                            <input id="confirmPassword" name="confirmPassword" placeholder="Confirm password" class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Confirm" type="submit">
                                        <span style="color: red" th:text="${msg}"></span> <br>

                                        <a th:href="@{/login}">Back to login</a>
                                    </div>

                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
