<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Product</title>
</head>

<div th:replace="header"></div>

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="/img/slider/abstrakt-banners.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Fashion</h2>
                <ol class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="active">Women</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sort by</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">Name</option>
                                    <option value="3">Price</option>
                                    <option value="4">Date</option>
                                </select>
                            </form>
                            <form action="" class="aa-show-form">
                                <label for="">Show</label>
                                <select name="">
                                    <option value="1" selected="12">12</option>
                                    <option value="2">24</option>
                                    <option value="3">36</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg">
                            <th:block th:each="item : ${sanphams}">
                                <!-- start single product item -->
                                <li>
                                    <figure>
                                        <a class="aa-product-img" href="#">
                                            <img th:src="@{/img/product/} + ${item.getHinhAnh()}" alt="polo shirt img"
                                                 style="width: 250px; height: 300px">
                                        </a>
                                        <a class="aa-add-card-btn"
                                           th:href="@{/product-detail/} + ${item.getIdSanPham()}"><span
                                                class="fa fa-shopping-cart"></span>Add To Cart</a>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#" th:text="${item.getTenSanPham()}"></a></h4>
                                            <span class="aa-product-price"
                                                  th:text="'$' + ${item.getGiaTien()}"></span><span
                                                class="aa-product-price"><del>$65.50</del></span>
                                        </figcaption>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <span class="fa fa-heart-o"></span>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <span class="fa fa-exchange"></span>
                                        </a>
                                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View"
                                           data-toggle="modal" data-target="#quick-view-modal">
                                            <span class="fa fa-search"></span>
                                        </a>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                    </div>

                    <th:block th:if="${numOfPages != null}">
                        <div class="aa-product-catg-pagination">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <th:block th:each="i: ${#numbers.sequence(1, numOfPages)}">
                                        <li><a th:href="@{'/product/'} + ${metaTitle} + '/' + ${i}" th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Category</h3>
                        <ul class="aa-catg-nav">
                            <th:block th:each="item: ${danhmuc}">
                                <li><a th:href="@{/product/} + ${item.getMetaTitle()}"
                                       th:text="${item.getTenDanhMuc()}"></a></li>
                            </th:block>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->

<div th:replace="footer"></div>

</body>
</html>